body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #fff;
}

.border-green {
  height: 5px;
  background: #267139;
}

.site-header {
  display: flex;
  align-items: center;
  background: #333634;
  color: #fff;
  padding: 0 35px;
  height: 85px;
}

.logo {
  height: 60px;
  margin-right: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.main-nav a {
  color: #16b3b1;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.22rem;
  margin: 0 22px 0 0;
  letter-spacing: 0.01em;
  transition: color 0.2s;
}

.main-nav a:hover {
  color: #49e2ec;
}

.divider {
  width: 2px;
  height: 28px;
  background: #948143;
  margin: 0 22px 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.header-shadow {
  height: 6px;
  background: linear-gradient(#2223, transparent);
  box-shadow: 0 2px 6px #0003, 0 1px 0 #eee;
}

.sub-nav {
  background: #fff;
  color: #222;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 14px 42px 6px 0;
  font-size: 1.18rem;
  border-bottom: 1px solid #e5e5e5;
}

.sub-nav a {
  color: #333;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
}

.hero-section {
  display: flex;
  min-height: 550px;
}

.hero-image {
  flex: 1.2;
  background: #222;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 550px;
}

.hero-text {
  flex: 1.13;
  background: #0abaa7;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 70px 50px;
  box-sizing: border-box;
}

.hero-text h1 {
  font-size: 3.7rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 1.1;
  letter-spacing: -1.5px;
}

.hero-text .highlight {
  background: #0085cc;
  padding: 0 13px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

/* Responsive for mobile */
@media (max-width: 1050px) {
  .site-header {
    padding: 0 10px;
    height: 64px;
  }
  .main-nav a {
    font-size: 1rem;
    margin: 0 8px 0 0;
  }
  .divider {
    width: 1px;
    height: 20px;
    margin: 0 10px 0 5px;
  }
  .logo {
    height: 45px;
  }
  .sub-nav {
    font-size: 1rem;
    padding: 10px 6px 4px 0;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-image,
  .hero-text {
    min-height: 240px;
    width: 100%;
    padding: 15px;
  }
  .hero-text h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
}

.date-saperator {
    display: none !important;
}
